/* You can add global styles to this file, and also import other style files */
@import "../node_modules/ngx-bootstrap/datepicker/bs-datepicker.css";
@import "../node_modules/bootstrap/dist/css/bootstrap.min.css";
@import "../node_modules/ngx-spinner/animations/ball-clip-rotate-multiple.css";
@import "../node_modules/ngx-toastr/toastr.css";



// @media (prefers-color-scheme: dark) {
//     --body-bg: #000;
//     --body-color: #fff;
// }
// @media (prefers-color-scheme: dark) {
//     // body {
//     //     background-color: var(--bs-dark);
//     //     color: var(--bs-light);
//     // }
//     @import "../src/themes/dark.scss";
// }
// @include prefers-color-scheme($color-scheme-alt){
//     @import "../src/themes/dark.scss";
// }
// $primary: #000;
// $body-color: #111;

// Bootstrap and its default variables
//@import "../node_modules/bootstrap/scss/bootstrap";



html, body{
    height: 100%; 
}

/* #outboxmidpg #buttons input[id="Cancel"], */
#loginForm input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
} 
#loginForm .form-floating:focus-within {
    z-index: 2;
}
  
#loginForm input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}